In [1]:
import pandas as pd
import numpy as np
from scipy.stats import pearsonr
import preprocessingFunction

In [2]:
raw_data = pd.read_csv('train.csv', keep_default_na = False)
raw_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65,8450,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,2,2008,WD,Normal,208500
1,2,20,RL,80,9600,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,5,2007,WD,Normal,181500
2,3,60,RL,68,11250,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,9,2008,WD,Normal,223500
3,4,70,RL,60,9550,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84,14260,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,12,2008,WD,Normal,250000

In [3]:
data = raw_data.copy()
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65,8450,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,2,2008,WD,Normal,208500
1,2,20,RL,80,9600,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,5,2007,WD,Normal,181500
2,3,60,RL,68,11250,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,9,2008,WD,Normal,223500
3,4,70,RL,60,9550,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84,14260,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,12,2008,WD,Normal,250000

In [4]:
data2 = preprocessingFunction.preprocessinghandle(data)

In [5]:
data2.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,0,0,8450,0,0,0,0,0,...,0,0,0,0,0,2,2008,0,0,208500
1,2,20,0,1,9600,0,0,0,0,0,...,0,0,0,0,0,5,2007,0,0,181500
2,3,60,0,2,11250,0,0,1,0,0,...,0,0,0,0,0,9,2008,0,0,223500
3,4,70,0,3,9550,0,0,1,0,0,...,0,0,0,0,0,2,2006,0,1,140000
4,5,60,0,4,14260,0,0,1,0,0,...,0,0,0,0,0,12,2008,0,0,250000

# Calculate the Pearson correlation of the features

In [8]:
data3 = data2.copy()
data3 = data3.drop(['Id'], axis = 1)
sale_price = np.array(data3['SalePrice'])
data3 = data3.drop(['SalePrice'], axis = 1)
data3_columns = data3.columns.values
pearson_correlation_array = []
for i in data3_columns:
    pearson_correlation_array.append(abs(pearsonr(sale_price, data3[i])[0]))
    #print(abs(pearsonr(sale_price, data3[i])[0]), i)
pearson_correlation_array = np.array(pearson_correlation_array)

# Creating the data frame of the correlation

In [20]:
correlation_dataframe = pd.DataFrame({'Feature': data3_columns, 'Pearson Correlation': pearson_correlation_array})
correlation_dataframe.sort_values(by=['Pearson Correlation'])

         Feature  Pearson Correlation
13    Condition2             0.004833
59  GarageFinish             0.006799
24    MasVnrType             0.007123
35    BsmtFinSF2             0.011378
8      Utilities             0.014314
..           ...                  ...
37   TotalBsmtSF             0.613581
61    GarageArea             0.623431
60    GarageCars             0.640409
45     GrLivArea             0.708624
16   OverallQual             0.790982

[79 rows x 2 columns]

In [26]:
features_to_drop = []
for i in range(len(correlation_dataframe['Pearson Correlation'])):
    if correlation_dataframe['Pearson Correlation'][i] < 0.3:
        features_to_drop.append(correlation_dataframe['Feature'][i])

In [27]:
features_to_drop

['MSSubClass',
 'MSZoning',
 'LotFrontage',
 'LotArea',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallCond',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'ExterQual',
 'ExterCond',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'Heating',
 'CentralAir',
 'Electrical',
 'LowQualFinSF',
 'BsmtFullBath',
 'BsmtHalfBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'KitchenQual',
 'Functional',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'SaleCondition']