# Important libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import preprocessingFunction as app2
import helpers as hp

# Reading the data

In [2]:
#dataTrain = pd.read_csv('train.csv', keep_default_na = False)
#dataTest = pd.read_csv('test.csv', keep_default_na = False)
dataTrain = pd.read_csv('train.csv')
dataTrain.fillna('NA')
dataTest = pd.read_csv('test.csv')
dataTest.fillna('NA')

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80,11622,Pave,NA,Reg,Lvl,AllPub,...,120,0,NA,MnPrv,NA,0,6,2010,WD,Normal
1,1462,20,RL,81,14267,Pave,NA,IR1,Lvl,AllPub,...,0,0,NA,NA,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74,13830,Pave,NA,IR1,Lvl,AllPub,...,0,0,NA,MnPrv,NA,0,3,2010,WD,Normal
3,1464,60,RL,78,9978,Pave,NA,IR1,Lvl,AllPub,...,0,0,NA,NA,NA,0,6,2010,WD,Normal
4,1465,120,RL,43,5005,Pave,NA,IR1,HLS,AllPub,...,144,0,NA,NA,NA,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21,1936,Pave,NA,Reg,Lvl,AllPub,...,0,0,NA,NA,NA,0,6,2006,WD,Normal
1455,2916,160,RM,21,1894,Pave,NA,Reg,Lvl,AllPub,...,0,0,NA,NA,NA,0,4,2006,WD,Abnorml
1456,2917,20,RL,160,20000,Pave,NA,Reg,Lvl,AllPub,...,0,0,NA,NA,NA,0,9,2006,WD,Abnorml
1457,2918,85,RL,62,10441,Pave,NA,Reg,Lvl,AllPub,...,0,0,NA,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74,9627,Pave,NA,Reg,Lvl,AllPub,...,0,0,NA,NA,NA,0,11,2006,WD,Normal

## Preprocessing

In [3]:
columnsToDrop = ['Id', 'Alley', 'PoolQC', 'Fence', 'MiscFeature', 'MSZoning', 'Condition2', 'HouseStyle', 'RoofMatl', 'Exterior1st', 'Heating', 'Electrical', 'KitchenQual', 'Functional', 'GarageQual', 'SaleType', 'Utilities', 'Exterior2nd']
#columnsToDrop = ['Id', 'Alley', 'PoolQC', 'Fence', 'MiscFeature']

In [4]:
#train data
dfTrain = dataTrain.copy()
dfTrain = dfTrain.drop(columnsToDrop, axis = 1)

#test data
dfTest = dataTest.copy()
dfTest = dfTest.drop(columnsToDrop, axis = 1)

In [5]:
#train data
dfTrain2 = app2.preprocessinghandle(dfTrain)
dfTrain2 = dfTrain2.sample(frac=1).reset_index(drop=True)

#test data
dfTest2 = app2.preprocessinghandle(dfTest)
dfTest2 = dfTest2.sample(frac=1).reset_index(drop=True)

In [6]:
dfTrain2.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageCond_0_Gd,GarageCond_0_Po,GarageCond_0_TA,PavedDrive_0_P,PavedDrive_0_Y,SaleCondition_0_AdjLand,SaleCondition_0_Alloca,SaleCondition_0_Family,SaleCondition_0_Normal,SaleCondition_0_Partial
0,30,60.0,10800,4,6,1927,2007,0.0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,60,88.0,12665,8,5,2005,2006,245.0,0,0,...,0,0,1,0,1,0,0,0,1,0
2,20,70.0,7560,5,5,1959,1959,0.0,369,0,...,0,0,1,0,1,0,0,0,1,0
3,20,65.0,8450,7,5,2003,2003,0.0,699,0,...,0,0,1,0,1,0,0,0,1,0
4,160,21.0,1953,6,5,1973,1973,408.0,309,0,...,0,0,1,0,1,0,0,0,1,0

In [7]:
dfTest2.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageCond_0_Gd,GarageCond_0_Po,GarageCond_0_TA,PavedDrive_0_P,PavedDrive_0_Y,SaleCondition_0_AdjLand,SaleCondition_0_Alloca,SaleCondition_0_Family,SaleCondition_0_Normal,SaleCondition_0_Partial
0,160,24.000000,2522,7,5,2004,2004,50.0,0.0,0.0,...,0,0,1,0,1,0,0,0,1,0
1,20,70.000000,16561,5,5,1996,1996,0.0,549.0,0.0,...,0,0,1,0,1,0,0,0,1,0
2,20,68.580357,8789,5,6,1967,1967,0.0,659.0,0.0,...,0,0,1,0,1,0,0,0,1,0
3,190,70.000000,7000,5,5,1962,1962,0.0,953.0,0.0,...,0,0,1,0,1,0,0,0,1,0
4,60,96.000000,10628,7,5,2004,2004,0.0,0.0,0.0,...,0,0,1,0,1,0,0,0,1,0

In [8]:
# labels
labels = np.array(dfTrain2['SalePrice'])
# Remove the labels from the dataFrame
dfTrain2 = dfTrain2.drop('SalePrice', axis = 1)

In [9]:
testColumnsArray = dfTest2.columns.values
trainColumnsArray = dfTrain2.columns.values
tempColumns = []

for i in trainColumnsArray:
    if i not in testColumnsArray:
        tempColumns.append(i)

In [10]:
dfTrain2 = dfTrain2.drop(tempColumns, axis = 1)
dfTrain2 = dfTrain2.reindex(columns= testColumnsArray)

In [11]:
dfTrain2.head(2)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageCond_0_Gd,GarageCond_0_Po,GarageCond_0_TA,PavedDrive_0_P,PavedDrive_0_Y,SaleCondition_0_AdjLand,SaleCondition_0_Alloca,SaleCondition_0_Family,SaleCondition_0_Normal,SaleCondition_0_Partial
0,30,60.0,10800,4,6,1927,2007,0.0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,60,88.0,12665,8,5,2005,2006,245.0,0,0,...,0,0,1,0,1,0,0,0,1,0

In [12]:
dfTest2.head(2)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageCond_0_Gd,GarageCond_0_Po,GarageCond_0_TA,PavedDrive_0_P,PavedDrive_0_Y,SaleCondition_0_AdjLand,SaleCondition_0_Alloca,SaleCondition_0_Family,SaleCondition_0_Normal,SaleCondition_0_Partial
0,160,24.0,2522,7,5,2004,2004,50.0,0.0,0.0,...,0,0,1,0,1,0,0,0,1,0
1,20,70.0,16561,5,5,1996,1996,0.0,549.0,0.0,...,0,0,1,0,1,0,0,0,1,0

# Features and Targets and Convert Data to Arrays

In [13]:
dfTrain3 = dfTrain2.copy()
dfTest3 = dfTest2.copy()

In [14]:
# labels
#  labels = np.array(dfTrain3['SalePrice'])
# Remove the labels from the dataFrame
#  dfTrain3 = dfTrain3.drop('SalePrice', axis = 1)
# Saving feature names for later use
feature_list = list(dfTrain3.columns)
# Convert to numpy array
dfTrain3 = np.array(dfTrain3)
features = dfTrain3

features_data_test = np.array(dfTest3)

# Split the data into training and testing

In [15]:
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.15, random_state = None)

# Train model

In [16]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 2000, random_state = None)
# Train the model on training data
rf.fit(train_features, train_labels);

# Test model

In [17]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)

# Accuracy

In [18]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 89.17 %.

# Testing the model on new data

In [19]:
test_predictions = rf.predict(features_data_test)

In [20]:
dataSubmission = pd.read_csv('sample_submission.csv')
dataSubmission.head(10)

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977
5  1466  177150.989247
6  1467  172070.659229
7  1468  175110.956520
8  1469  162011.698832
9  1470  160726.247831

In [21]:
submission = dataSubmission.copy()
submission['SalePrice'] = test_predictions
submission.head(10)

     Id    SalePrice
0  1461  134910.4640
1  1462  142422.6260
2  1463  126710.4620
3  1464  124299.1500
4  1465  206578.4130
5  1466  104620.3770
6  1467  151346.5155
7  1468  148712.3575
8  1469  378011.1275
9  1470  384473.6630

# Make a csv file from predictions

In [22]:
#submission.to_csv('submission1.csv', index=False)